<linx-utils-form-frame [containerized]="false">
    <linx-utils-form [formGroup]="form" (ngSubmit)="consultar()">
        <div class="row">
            <linx-utils-input-field class="col-12 col-md-4" [maxLength]="'10'" name="Veiculo" fieldName="Veiculo"
                label="Veículo" [upperCase]="true"> </linx-utils-input-field>
            <linx-utils-input-field class="col-12 col-md-4" [maxLength]="'7'" name="Placa" fieldName="Placa"
                label="Placa" [upperCase]="true">
            </linx-utils-input-field>
            <linx-utils-input-field class="col-12 col-md-4" [maxLength]="'17'" id="Chassi" name="Chassi" label="Chassi"
                fieldName="Chassi" [upperCase]="true">
            </linx-utils-input-field>
            <linx-utils-sel-registro class="col-12 col-md-6" label="Vendedor" [mode]="2"
                [field]="form.get('VendedoresSelecionados')" [requestSelRegistro$]="selRegistroVendedor()">
            </linx-utils-sel-registro>
            <linx-utils-sel-registro class="col-12 col-md-6" label="Departamentos" [mode]="2"
                [field]="form.get('DepartamentosSelecionados')" [requestSelRegistro$]="selRegistroDepartamento()">
            </linx-utils-sel-registro>
            <linx-procura-cliente class="col-12 col-md-4" label="Cliente" [field]="form.get('Cliente')">
            </linx-procura-cliente>
            <linx-utils-datepicker class="col-12 col-md-4" [field]="form.get('PeriodoDataInicial')"
                [configuration]="configPeriodoDataInicial">Data Inicial da Verificação
            </linx-utils-datepicker>
            <linx-utils-datepicker class="col-12 col-md-4" [field]="form.get('PeriodoDataFinal')"
                [configuration]="configPeriodoDataFinal">Data Final da Verificação
            </linx-utils-datepicker>
            <linx-utils-fieldset legend="Reservado" class="col-12 col-md-4">
                <linx-utils-radio-field class="col-12 col-md-12" [inputValue]="this.form.get('Reservado').value"
                    columns="1" [isInline]="true" [field]="form.get('Reservado')" [list]="listaReservaVeiculo">
                </linx-utils-radio-field>
            </linx-utils-fieldset>
            <linx-utils-fieldset legend="Vendido" class="col-12 col-md-4">
                <linx-utils-radio-field class="col-12 col-md-12" [inputValue]="this.form.get('Vendido').value"
                    columns="1" [isInline]="true" [field]="form.get('Vendido')" [list]="listaReservaVeiculo">
                </linx-utils-radio-field>
            </linx-utils-fieldset>
            <linx-utils-fieldset legend="Negociado" class="col-12 col-md-4">
                <linx-utils-radio-field class="col-12 col-md-12" [inputValue]="this.form.get('Negociado').value"
                    columns="1" [isInline]="true" [field]="form.get('Negociado')" [list]="listaReservaVeiculo">
                </linx-utils-radio-field>
            </linx-utils-fieldset>
            <linx-utils-dynamic-table class="col-12 col-md-12" [optionsConfig]="optionsConfig" [columns]="jsonConfig"
                [selected]="selectedVeiculo" (selectedRow)="veiculoSelecionado($event)"
                [contextMenuActions]="actionsMenuTableItens">
            </linx-utils-dynamic-table>
        </div>
        <linx-utils-float-buttons>
            <button linxUtilsButton="search" color="primary" type="submit"></button>
            <button linxUtilsButton="clean" (click)="limpar()"></button>
        </linx-utils-float-buttons>
    </linx-utils-form>
</linx-utils-form-frame>
